In [34]:
from pyresparser import ResumeParser
from resume_parser import resumeparse
import 
import os
import docx2txt
import requests
import pandas as pd
from pdfminer.high_level import extract_text

In [33]:
## Looping through the Files in Resume Directory

In [46]:
def extract_text_from_docx(docx_path):
    txt = docx2txt.process(docx_path)
    if txt:
        return txt.replace('\t', ' ')
    return None

def extract_text_from_pdf(pdf_path):
    return extract_text(pdf_path)

directory = r'Resumes/'
pdf = []
docs = []
pyresparser = []
resumeparser = []
for filename in os.listdir(directory):
    print(filename)
    data = {}
    if filename.endswith(".docx"):
        path = os.path.join(directory, filename)
        
        data = resumeparse.read_file(path)
        data['text'] = extract_text_from_docx(path)
        
              
        resumeparser.append(data)
        
        data = ResumeParser(path).get_extracted_data()
        data['text'] = extract_text_from_docx(path)
        
        pyresparser.append(data)
        
        
        
    elif filename.endswith(".pdf"):

               
        path = os.path.join(directory, filename)
        
        data = resumeparse.read_file(path)
        data['text'] = extract_text_from_pdf(path)
        
              
        resumeparser.append(data)
        
        data = ResumeParser(path).get_extracted_data()
        data['text'] = extract_text_from_pdf(path)
        
        pyresparser.append(data)

    else:
        continue

AbhiramResume.docx

C:\ProgramData\Anaconda3\lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_training' (0.0.0) requires spaCy v2.1 and is incompatible with the current spaCy version (2.3.5). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

NikResume.pdf
SnehalGhatpande.pdf

In [47]:
pyres_df = pd.DataFrame(pyresparser)
pyres_df

,name,email,mobile_number,skills,college_name,degree,designation,experience,company_names,no_of_pages,total_experience,text
0,ABHIRAM GOPAL,agopal@syr.edu,315-991-0963,"[Data analysis, Sql, Programming, Technical, A...",None,None,"[Solutions Architect Associate, Project Lead]",[],None,NaN,0.00,ABHIRAM GOPAL \n315-991-0963 ● agopal@syr.ed...
1,Nikhil Bharadwaj,official.nikhil3639@gmail.com,450-3272,"[Algorithms, Sql, Programming, Technical, Acce...",None,None,None,"[Software Engineer Intern, • Optimized core n...",None,1.0,2.17,Nikhil Bharadwaj \nofficial.nikhil3639@gmail.c...
2,Snehal Ghatpande,sghatpan@syr.edu,315 278 5618,"[Information technology, Business intelligence...",None,"[M.S. in Information Management, B.E. in Infor...",[Data Analyst],"[Data Analyst, iConsult Collaborative, Syracus...","[Oracle, Microsoft]",1.0,3.50,Snehal Ghatpande \n\nwww.linkedin.com/in/ghatp...

In [48]:
resume_df = pd.DataFrame(resumeparser)
resume_df

,email,phone,name,total_exp,university,designition,degree,skills,Companies worked at,text
0,agopal@syr.edu,315-991-0963,,4,[syracuse university],"[industrial engineering, python developer, par...",[],"[& Relevant Libraries: Python, Pandas, Tenso...",[2U Inc],ABHIRAM GOPAL \n315-991-0963 ● agopal@syr.ed...
1,official.nikhil3639@gmail.com,(315)450-3272,Nikhil Bharadwaj,5,[syracuse university],"[software engineer, software engineer intern, ...",[],"[: C++, Python, JavaScript, C, SQL, NoSQL...",[TruWeather Solutions],Nikhil Bharadwaj \nofficial.nikhil3639@gmail.c...
2,sghatpan@syr.edu,315 278 5618,Snehal Ghatpande,2,"[university of pune, syracuse university]","[excel specialist, tableau analyst, data analy...","[M.S. in Information Management, B.E. in Infor...","[/ CERTIFICATIONS: R, Python, SQL, Databases...",[TruWeather Solutions LLC],Snehal Ghatpande \n\nwww.linkedin.com/in/ghatp...

In [ ]:
merged_inner = pd.merge(left=survey_sub, right=species_sub, left_on='species_id', right_on='species_id')

In [ ]:
https://www.listendata.com/2018/05/named-entity-recognition-using-python.html

In [8]:
def skill_exists(skill):
    url = f'https://api.promptapi.com/skills?q={skill}&count=1'
    headers = {'apikey': 'API_KEY'}
    response = requests.request('GET', url, headers=headers)
    result = response.json()

    if response.status_code == 200:
        return len(result) > 0 and result[0].lower() == skill.lower()
    raise Exception(result.get('message'))
skill_exists('python')

True

In [14]:
import requests

url = "https://api.promptapi.com/skills?q=python"

payload = {}
headers= {
  "apikey": "API_KEY"
}

response = requests.request("GET", url, headers=headers, data = payload)

status_code = response.status_code
result = response.text
status_code
# result

200

In [ ]:
Metrics to work
-Repetition
-